body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #181a1b;
  } 

.title {
    font-size: 60px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 800%;
    margin-top: 50px;
    margin-left: 40%;
    color:black;
    background-image: url('/Assets/TennisBalls.png');
}

.startButton {
    font-size: 60px;
    color:black;
    outline: auto;
    outline-color: black;
    background-color: lightblue;
    background-image: url('/Assets/dogbone.jpg');
    width: 500px;
    height: 100px;
    vertical-align: bottom;
    display:flex;
    justify-content:center;
    margin-left: 37%;
    margin-right: 40%;
    margin-top: 25%;
}

.pTitle{
    font-size: 60px;
    text-align: center;
    background-color: hsl(272, 61%, 12%);
    color: #7c3b98
}

.pStoryText {
    font-size: 30px;
    text-align: center;
    margin-left: 10%; 
    margin-right: 10%;
    margin-top: 2%;
    color: whitesmoke;
}

.pPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.pRestartButton, .pChoiceButton {
    font-size: 30px;
    color: rgb(210, 210, 210);
    outline: auto;
    outline-color: rgb(128, 0, 255);
    background-color: rgb(183, 71, 163);
    display:flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

/*
.titlej {
    font-size: 60px;
    text-align: center;
    background-color: lightblue;
}

.storyTextj {
    font-size: 30px;
    text-align: center;
}

.picj {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.choices {
    font-size: 30px;
    color: black;
    outline: auto;
    outline-color: blue;
    background-color: lightblue;
    display:flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
*/
