body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2f3047;
  } 

.title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 800%;
    margin-top: 50px;
    color:black;
    background-image: url('/Assets/TennisBalls.png');
    display: flex;
    justify-content: center;
    
    margin-left: 20%;
    margin-right: 20%;
}

.startButton {
    font-size: 60px;
    color:black;
    outline: auto;
    outline-color: black;
    background-color: lightblue;
    background-image: url('/Assets/dogbone.jpg');
    width: 500px;
    height: 100px;
    vertical-align: bottom;
    display:flex;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

.pTitle{
    font-size: 60px;
    text-align: center;
    background-color: hsl(236, 85%, 65%);
    color: #bacdf6
}

.pStoryText {
    font-size: 30px;
    text-align: center;
    margin-left: 10%; 
    margin-right: 10%;
    margin-top: 2%;
    color: whitesmoke;
}

.pPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.pRestartButton, .pChoiceButton {
    font-size: 30px;
    color: rgb(210, 210, 210);
    outline: auto;
    outline-color: rgb(128, 0, 255);
    background-color: rgb(183, 71, 163);
    display:flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}


.button {
    font-size: 30px;
    color: rgb(254, 185, 116);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(105, 83, 52);
    background-color: rgb(192, 112, 15);
    display:flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

/*
.titlej {
    font-size: 60px;
    text-align: center;
    background-color: lightblue;
}

.storyTextj {
    font-size: 30px;
    text-align: center;
}

.picj {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.choices {
    font-size: 30px;
    color: black;
    outline: auto;
    outline-color: blue;
    background-color: lightblue;
    display:flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
*/
